/* @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --dark-text: #dad7cd;
    --dark-background: #18191b;
    --dark-primary: #9cf2f7;
    --dark-secondary: #174a46;
    --dark-accent: #085f63;
    --footer: #6a6a6a;
    --light-text: #252832;
    --light-background: #FDFAF2;
    --light-primary: #49beb7;
    --light-secondary: #B5E8E4;
    --light-accent: #085f63;
}

* {
    font-family: 'Advent Pro', sans-serif;
    color: var(--light-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-accent);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-text);
}

::-webkit-scrollbar-track {
    background-color: var(--light-background);
}
body {
    background-color: var(--light-background);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
}
 */
