/* .welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 630px) {
.welcome{
    flex-direction: column;
} 
}
.welcome img {
    padding: 2px;
    border-radius: 10px;    
    width: 450px;
    height: 200px;
}

.welcome p {
    font-size: 30px;
} */

.special-offers-tab {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #f8f9fa; 
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
    transition: right 0.3s ease-out;
}

.special-offers-tab:hover {
    right: 0; 
}

.special-offers-tab img {
    max-width: 100%;
    height: auto;
}

.social-icons-container {
    display: flex;
    align-items: center;
  }
  
  .social-icon {
    margin-right: 15px;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; 
  }
  