.special-offers-tab {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #f8f9fa; 
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
    transition: right 0.3s ease-out;
}

.special-offers-tab:hover {
    right: 0; 
}

.special-offers-tab img {
    max-width: 100%;
    height: auto;
}
.flex {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.text-right {
    text-align: right;
}